.Section2{
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.Section2-left{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    height: 60vh;
    width: 40vw;
}   
.Section2-left h2{
    width: 40vw;
}
.download-btn{
    width: 40vw;
}
.stats{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40vw;
}
