.FeatureRectangle{
    height: 20vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px lightgray;
    border-radius: 10px;
}
.FeatureRectangle-left{
    height: 16vh;
    width: 5vw;
    text-align: center;
    
}
.FeatureRectangle-right{
    height: 16vh;
    width: 35vw;
}

.FeatureRectangle-right p{
   margin-top: 4vh;
    color:gray;
    width: 30vw;
}