.section4{
    margin-top: 20vh;
    display: flex;
    height: 110vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.section4 h1{
    font-size: 2rem;
}
.section4 p{
    color:gray;
    width: 80vw;
}
.section4-top{
    text-align: center;
    width: 40vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.section4-bottom{
    position: fixed;
    height: 80vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: scroll;
}
::-webkit-scrollbar{
    width: 0;
}
#sep{
    height: 70vh;
    width: 200vw;
    color: firebrick;
}